/* src/styles/style.css */

.bg-container {
    background-image: url('/loginyash/public/anime-moon-landscape_23-2151645898.avif'); /* Path from the public directory */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 25%;
    z-index: 1; /* Ensure it appears above the background image */
}
